{% extends 'workshop_app/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    <style type="text/css">
        label.required::after {
        content: "*";
        color: red;
        }

        .errorlist {
        color: red;
        }
    </style>

    <div class="container fade-in">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mb-5 text-center font-weight-800 text-gradient">Coordinator Registration</h2>
                
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        {{ form.as_table }}
                                    </table>
                                </div>

                                <div class="mt-4 text-center">
                                    <button class="btn btn-primary btn-lg" type="submit">Complete Registration</button>
                                </div>
                        </form>
                    </div>
                </div>
                <!-- Activate when Instructor registeration starts -->
                <br>
            </div>
        </div>
    </div>
{% endblock %}
